*{
margin: 0px;
padding: 0px;
}
h1 {
font: bold 20px arial, sans-serif;
}
h2 {
font: bold 14px arial, sans-serif;
}
body {
text-align: center;
}
#wrapper {
width: 960px;
margin: 15px auto;
text-align: left;
}
#main_header {
background: #FFFBB9;
border: 1px solid #999999;
padding: 20px;
}
#main_header img {
display: block;
margin-left: 800px;
width: 10%;
}
#main_menu {
background: #CCCCCC;
padding: 5px 15px;
}
#main_menu, li {
display: inline;
list-style: none;
padding: 10px;
font: bold 15px arial, sans-serif;
}
#main_section {
float: left;
width: 620px;
margin: 0px;
}
#main_aside {
float: left;
width: 240px;
margin: 20px 20px;
padding: 15px;
background: #CCCCCC;
}
#main_aside img {
width: 80%;
}
#main_footer {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}
article {
background: #FFFBCC;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article footer {
text-align: right;
}
timr {
color: #999999;
}
figcaption {
font: italic 14px verdana, sans-serif;
}
